{{yield}}

<div class="card">
    <div class="image contentInside">
        <center>
            {{#link-to "profile" user.username}}<img src="{{ user.userPhoto}}" width="150" height="150">{{/link-to}}
        </center>
    </div>
    <div class="content">
        <div class="header">{{ user.firstName }} {{ user.lastName }}</div>
        <div class="meta">
            {{#link-to "profile" user.username}} {{ user.username }} {{/link-to}}
        </div>
    </div>
    <div class="extra content">
        <span class="left floated">
            {{utils/online-profile profile=user.user}}
            {{ user.email }}
        </span>
    </div>
</div>