{{yield}}

<div class="comment" style="margin-bottom: 1em">
    <a class="avatar">
    <img src="{{ comment.user.userPhoto }}">
    </a>
    <div class="content">
        {{#if isCreatorComment}}
            <div class="pull-right pointer" {{action "confirmRemoveComment" comment.id}}>x</div>
        {{/if}}
        <a class="author">{{ comment.user.username }}</a>
        <div class="metadata">
            <span class="date">{{ comment.date }}</span>
        </div>
        <div class="text">
            {{{ comment.description }}}
        </div>
        <div class="actions">
            <a class="reply">{{gettext "Reply"}}</a>
            {{#if showLike }}
            <a {{action "likeComment" }}> <i class="thumbs outline up icon"></i></a>
            {{else}}
            <a {{action "unLikeComment" }} style="color: red"> <i class="thumbs outline up icon"></i></a>
            {{/if}} {{ comment.totalLikes }}
        </div>
    </div>
</div>

{{#utils/form-modal title_modal="Remove comment" id=comment.id hasUiForShowModal=false customActions=true as |section|}}
    {{#if section.isSectionActions}}
        <!-- Section actions -->
        <button class="ui red button" {{ action "removeComment"}}>{{gettext "Remove"}}</button>
    {{/if}}

    {{#if section.isSectionContent}}
        <!-- Section default content -->
        {{gettext "Do you want remove this comment?"}}
    {{/if}}
{{/utils/form-modal}}