{{yield}}

{{#if isLoaded}}
    <h1><a href="{{ currentUrl }}">{{ model.forum.name }}</a></h1>
    <p>{{ model.forum.description }}</p>

    <div class="ui grid marginBottom1">
        <div class="fourteen wide column">
            {{#unless model.forum.publicForum}}
                {{#if session.isAuthenticated}}
                    {{#unless isAdminOrModerator}}
                        {{#if canRegister}}
                            <div class="ui mini button" {{ action "registerUser" }}>
                                {{gettext "Register"}}
                            </div>
                        {{else}}
                            <div class="ui mini button" {{ action "unRegisterUser" }}>
                                {{gettext "Unregister"}}
                            </div>
                        {{/if}}
                    {{/unless}}
                {{/if}}
            {{/unless}}

            {{#if (and session.isAuthenticated canCreateTopic)}}
                <div class="ui floated mini primary labeled icon button" {{ action "showAddTopic" }}>
                    <i class="plus icon"></i> {{gettext "Add topic"}}
                </div>
            {{/if}}
        </div>
        <div class="two wide column">
            <div class="ui right floated mini icon button">
                <a href="{{ rssUrl }}{{ model.forum.id }}/{{ model.forum.slug }}/" target="_blank"><div class="column"><i class="rss icon"></i>Rss</div></a>
            </div>
            <div class="ui right">
                {{#link-to "members-forum" model.forum.id model.forum.slug}} {{gettext "Members"}} {{/link-to}}
            </div>
        </div>
    </div>

    <table class="ui very basic celled table">
        <thead>
            <tr>
                <th>{{gettext "Topic" }}</th>
                <th>{{gettext "User"}}</th>
                <th>{{gettext "Answers"}}</th>
                <th>{{gettext "Visits"}}</th>
                <th>{{gettext "Last Activity"}}</th>
            </tr>
        </thead>
        <tbody>
            {{#each model.topics as |topic|}}
            <tr>
                <td>
                   {{#link-to "profile" topic.user.username class="ui image header fontSizeTitle"}}
                        <img src="{{ topic.user.userPhoto }}" class="ui mini rounded image">
                        <div class="content">
                            {{#if topic.isClose}}
                                <p class="red-color marginBottom01"><strong>{{gettext "This topic is closed"}}</strong></p>
                            {{/if}}
                            {{#link-to 'topic' topic.id topic.slug }}{{ topic.title}} {{#if topic.isTop}} <i class="pin icon"></i> {{/if}}{{/link-to}}
                            <div class="sub header">{{ topic.date }}</div>
                        </div>
                    {{/link-to}}
                </td>
                <td>{{#link-to "profile" topic.user.username}} {{ topic.user.username }} {{/link-to}}</td>
                <td>
                    <b>{{ topic.totalComments }}</b>
                </td>
                <td>
                    {{ topic.views }}
                </td>
                <td>
                    {{ topic.lastActivity}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    {{#if model.topics}}
        {{utils/infinite-scroll model=model submodel="topics" api="topic"}}
    {{else}}
        <br />
        <b>{{gettext "The forum does not contain topics."}}</b>
    {{/if}}
{{/if}}


{{#if session.isAuthenticated}}
    {{#utils/modal-simple-mde-editor contentId="content-forum" contentClass="paddingEditorMdeCreate" field=addTopicField textareaId="textarea_topic" modalId="mdeAddTopicModal" as |section|}}
        {{#if section.isSectionContent}}
            <div class="marginBottom1">
                {{input type="text" value=addTopicTitle placeholder=(gettext "Title")}}
            </div>
        {{/if}}
        {{#if section.isSectionActions}}
            <div class="ui mini blue labeled submit icon button {{if enableAddTopic 'disabled'}}" disabled={{enableAddTopic}} {{action "createTopic"}}>
                <i class="icon edit"></i> {{gettext "Add topic"}}
            </div>
        {{/if}}
    {{/utils/modal-simple-mde-editor}}
{{/if}}