{{#if session.isAuthenticated}}
    <div id="mdeReplyModal" class="mde-modal">
        <div class="mde-modal-content">
            <span class="mde-modal-close" onClick='Ember.$("#mdeReplyModal").hide("hide");'><i class="angle down icon"></i></span>
            <div class="ui reply form marginTop1">
                <div class="field">
                    <div>
                        {{utils/simple-mde-editor value=reply elementId="reply_comment"}}
                    </div>
                </div>
                <div class="ui mini blue labeled submit icon button {{if enableReply 'disabled'}}" disabled={{enableReply}} {{action "createComment"}}>
                    <i class="icon edit"></i> {{gettext "Add Reply"}}
                </div>
            </div>
        </div>
    </div>
{{/if}}

{{yield}}