{{#if session.isAuthenticated}}
    {{#utils/modal-simple-mde-editor contentId="content-topic" field=reply textareaId="reply_comment" modalId="mdeReplyModal" as |section|}}
        {{#if section.isSectionActions}}
            <div class="ui mini blue labeled submit icon button {{if enableReply 'disabled'}}" disabled={{enableReply}} {{action "createComment"}}>
                <i class="icon edit"></i> {{gettext "Add Reply"}}
            </div>
        {{/if}}
    {{/utils/modal-simple-mde-editor}}
{{/if}}

{{yield}}
{{yield reply}}