{{yield}}

<h3>{{gettext "Find Topics" }}</h3>

<div class="ui divider"></div>

<div class="ui divided items">
    {{#each topics as |topic|}}
    <div class="item">
        <div class="ui tiny image">
            {{#link-to "profile" topic.user.username}}<img src="{{ topic.user.userPhoto }}" class="ui rounded image">{{/link-to}}
            <center>{{#link-to "profile" topic.user.username}} {{ topic.user.username }}{{/link-to}}</center>
        </div>
        <div class="middle aligned content">
            {{#link-to 'topic' topic.id topic.slug }}{{ topic.title}} {{#if topic.isTop}} <i class="pin icon"></i> {{/if}}{{/link-to}}
            <p><i class="ui icon calendar"></i>{{ topic.date }}</p>
            <div class="ui divider"></div>

            {{{truncate-text topic.htmlDescription limit=450}}}

            {{#link-to 'forum' topic.forum.id topic.forum.slug class="ui mini teal basic label"}} {{ topic.forum.name }} {{/link-to}}
        </div>
    </div>
    {{else}}
        <p>{{gettext "No results"}}</p>
    {{/each}}
</div>

<div class="ui divider"></div>