<table class="ui very basic collapsing celled table width80">
    <thead>
        <tr>
            <th>{{gettext "Title" }}</th>
            <th>{{gettext "User" }}</th>
            <th>{{gettext "Date" }}</th>
        </tr>
    </thead>
    <tbody>
        {{#each topics as |topic|}}
        <tr>
            <td>
                {{#link-to "profile" topic.user.username class="ui image header fontSizeTitle"}}
                    <img src="{{ topic.user.userPhoto }}" class="ui mini rounded image">
                    <div class="content">
                        {{#link-to 'topic' topic.id topic.slug invokeAction='goTop' }} {{ topic.title }} {{/link-to}}
                    </div>
                 {{/link-to}}
            </td>
            <td>
                <i class="user icon"></i> {{#link-to "profile" topic.user.username}} {{ topic.user.username }} {{/link-to}}
            </td>
            <td>
                <i class="calendar icon"></i> {{ topic.date }}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{yield}}
