<table class="ui very basic collapsing celled table" style="width: 80%">
    <thead>
        <tr>
            <th>{{gettext title }}</th>
            <th>{{gettext "Date" }}</th>
        </tr>
    </thead>
    <tbody>
        {{#each topics as |topic|}}
        <tr>
            <td>
                <h4 class="ui image header">
                <img src="{{ topic.user.userPhoto }}" class="ui mini rounded image">
                <div class="content">
                    {{#link-to 'topic' topic.id topic.slug invokeAction='goTop' }} {{ topic.title }} {{/link-to}}
                </div>
                </h4>
            </td>
            <td>
                {{ topic.date }}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{yield}}
