{{#if isLoaded}}
    <div class="topic-header-content">
        <div class="content">
            <h1><a href="{{ currentUrl }}" class="header marginTop05">{{ topic.title }} {{#if topic.isTop}} <i class="pin icon"></i> {{/if}}</a></h1>
            <div class="ui divider"></div>
            <div class="meta">
                {{#if topic.isClose}}
                    <p class="red"><strong>{{gettext "This topic is closed"}}</strong></p>
                {{/if}}

                <img class="ui avatar image" src="{{ topic.user.userPhoto }}">
                <span>{{ topic.user.username }}</span>
                <div class="marginTop1">
                    <span>{{{ topic.description }}}</span>

                    {{#if topic.attachment }}
                        <div class="marginTop05">
                            <img src="{{ topic.attachment }}" class="width100">
                        </div>
                    {{/if}}
                </div>
            </div>
            <div class="ui divider"></div>
        </div>
        <div class="extra content">
            <div class="ui grid">
                <div class="ten wide column">
                    <div class="ui mini horizontal statistic">
                        <div class="value">
                            {{ hitTopic }}
                        </div>
                        <div class="label">
                            {{#if (not-eq hitTopic 0)}}
                                {{#if (gt hitTopic 1) }}
                                    {{gettext "Views" }}
                                {{else}}
                                    {{gettext "View" }}
                                {{/if}}
                            {{else}}
                                {{gettext "Views" }}
                            {{/if}}
                        </div>
                    </div>
                    <div class="ui mini horizontal statistic">
                        <div class="value">
                        {{ topic.totalComments }}
                        </div>
                        <div class="label">
                            {{#if (not-eq topic.totalComments 0)}}
                                {{#if (gt topic.totalComments 1) }}
                                    {{gettext "Comments" }}
                                {{else}}
                                    {{gettext "Comment" }}
                                {{/if}}
                            {{else}}
                                {{gettext "Comments" }}
                            {{/if}}
                        </div>
                    </div>
                    <div class="ui mini horizontal statistic">
                        <div class="value">
                        {{ topic.totalLikes }}
                        </div>
                        <div class="label">
                            {{#if (not-eq topic.totalLikes 0)}}
                                {{#if (gt topic.totalLikes 1) }}
                                    {{gettext "Likes" }}
                                {{else}}
                                    {{gettext "Like" }}
                                {{/if}}
                            {{else}}
                                {{gettext "Likes" }}
                            {{/if}}
                        </div>

                        <div style="margin-left: 0.5em">
                            {{#if showLike}}
                                <p><button class="circular ui mini icon button" {{action "likeTopic"}}><i class="thumbs outline up icon"></i></button></p>
                            {{else}}
                                <p><button class="circular ui mini icon button" {{action "unLikeTopic"}} style="color: red"><i class="thumbs outline up icon"></i></button></p>
                            {{/if}}
                        </div>
                    </div>

                    <p><b>{{gettext "Created" }}</b>: {{ topic.date }}</p>
                    <p><b>{{gettext "Last activity" }}</b>: {{ topic.lastActivity }}</p>
                </div>
                <div class="six wide column">
                    {{#if (and session.isAuthenticated isCreatorTopic)}}
                        <p>
                            {{#if topic.isClose}}
                                <button class="ui mini button" {{ action "openTopic" }}>{{gettext "Open topic" }}</button>
                            {{else}}
                                <button class="ui mini button" {{ action "closeTopic" }}>{{gettext "Close topic" }}</button>
                            {{/if}}
                            <button class="ui mini button"><i class="reply icon"></i> {{ gettext "Edit" }}</button>
                            <button class="ui mini red button" {{action "confirmRemoveTopic" topic.id}}><i class="reply icon"></i> {{ gettext "Delete" }}</button>
                        </p>
                    {{/if}}
                    <p>
                        <button class="ui mini button" {{ action "replyComment" }}><i class="reply icon"></i> {{ gettext "Reply" }}</button>
                        <a href="http://www.facebook.com/sharer.php?s=100&amp;p%5Burl%5D={{ currentUrl }}" target="_blank">
                            <i class="facebook icon"></i>
                        </a>
                         <a href="https://plus.google.com/share?url={{ currentUrl }}" target="_blank">
                            <i class="google plus icon"></i>
                        </a>
                        <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{ currentUrl }}">
                            <i class="twitter icon"></i>
                        </a>
                    </p>


                </div>
            </div>
        </div>
    </div>

    {{#utils/form-modal title_modal="Remove topic" id=(concat "topic_" topic.id) hasUiForShowModal=false customActions=true as |section|}}
        {{#if section.isSectionActions}}
            <!-- Section actions -->
            <button class="ui red button" {{ action "removeTopic"}}>{{gettext "Remove"}}</button>
        {{/if}}

        {{#if section.isSectionContent}}
            <!-- Section default content -->
            {{gettext "Do you want remove this topic?"}}
        {{/if}}
    {{/utils/form-modal}}

    {{yield}}
{{/if}}