<div class="ui mini menu">
    {{utils/logo-app}}
    <div class="right menu">
        <div class="item ui input">
            {{input type="text" placeholder=(gettext 'Find Topics') enter="onSearch"}}
        </div>
        {{#if session.isAuthenticated}}
            <div class="item">
                <div class="ui inline dropdown" {{ action "setSeenNotifications" }}>
                    <div class="text">
                        <div class="ui inline dropdown">
                            <div class="inlineBlock">
                                {{#link-to "profile" session.data.authenticated.user.username}}
                                <img class="ui avatar image" src="{{ session.data.authenticated.user.user_photo }}">
                                {{/link-to}}
                                {{#if (gt model.totalNotifications.total 0)}}
                                    <button id="total_notifications" class="circular ui icon button mini">
                                        {{ model.totalNotifications.total}}
                                    </button>
                                {{/if}}
                            </div>
                            <i class="dropdown icon"></i>
                            <div class="menu hide" id="menu_notifications">
                                <div class="item">
                                    {{#link-to "profile" session.data.authenticated.user.username}}
                                    {{ session.data.authenticated.user.username }}
                                    {{/link-to}}
                                </div>
                                <div class="line-separator"></div>
                                 {{#each model.notifications as |notification|}}
                                    <div class="item">
                                        {{#if notification.topic }}
                                            <i class="alarm outline icon"></i> {{gettext "New topic"}}
                                            {{#link-to "topic" notification.topic.topicid notification.topic.slug}}
                                                {{ notification.topic.title }}
                                            {{/link-to}}
                                            {{gettext "By"}} {{ notification.topic.username }}
                                        {{else}}
                                            <i class="reply icon"></i> {{ notification.comment.username}}
                                            {{#link-to "topic" notification.comment.topicid notification.comment.slug}}
                                                {{ notification.comment.title }}
                                            {{/link-to}}
                                        {{/if}}
                                    </div>
                                    <div class="line-separator"></div>
                                 {{/each}}
                                <div class="item">
                                    <a {{action 'invalidateSession'}} class="pointer">{{ gettext "Logout" }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{else}}
        <div class="item">
            {{auth/login-form}}
        </div>
        <div class="item">
            {{auth/signup-form}}
        </div>

        {{/if}}
    </div>
</div>

<div class="ui container">
    {{outlet}}
</div>