<div class="ui mini menu">
    {{utils/logo-app}}
    <div class="right menu">
        <div class="item ui input">
            {{input type="text" placeholder=(gettext 'Find Topics') enter="onSearch"}}
        </div>
        {{#if session.isAuthenticated}}
            <div class="item">
                <div class="ui inline dropdown">
                    <div class="text">
                        {{#link-to "profile" session.data.authenticated.user.username}}
                            {{ session.data.authenticated.user.username }}
                            <img class="ui avatar image" src="{{ session.data.authenticated.user.user_photo }}">
                        {{/link-to}}
                    </div>
                    <a {{action 'invalidateSession'}} class="pointer">{{ gettext "Logout" }}</a>
                </div>
            </div>
        {{else}}
        <div class="item">
            {{auth/login-form}}
        </div>
        <div class="item">
            {{auth/signup-form}}
        </div>

        {{/if}}
    </div>
</div>

<div class="ui container">
    {{outlet}}
</div>