<div class="ui mini menu navbar-color-muss">
    {{utils/logo-app}}
    <div class="right menu">
        <div class="item ui input">
            {{input type="text" placeholder=(gettext 'Find Topics') enter="onSearch"}}
        </div>
        {{#if session.isAuthenticated}}
            <div class="item">
                <div class="ui inline dropdown" {{ action "setSeenNotifications" }}>
                    <div class="text">
                        <div class="ui inline dropdown">
                            <div class="inlineBlock">
                                {{#link-to "profile" session.data.authenticated.user.username}}
                                <img class="ui avatar image" src="{{ session.data.authenticated.user.user_photo }}">
                                {{/link-to}}

                                <button id="total_notifications" class="circular ui icon button mini {{if (gt model.totalNotifications.total 0) '' 'hide' }}">
                                    {{ model.totalNotifications.total}}
                                </button>
                            </div>
                            <i class="dropdown icon"></i>
                            <div class="menu hide min-width-notification-list" id="menu_notifications">
                                <div class="item">
                                    {{#link-to "profile" session.data.authenticated.user.username}}
                                    {{ session.data.authenticated.user.username }}
                                    {{/link-to}}
                                </div>
                                <div class="line-separator"></div>
                                {{items-notifications model=model inDropdown=true}}

                                {{#unless model.notifications}}
                                    <div class="item">
                                        {{gettext "No notifications"}}
                                    </div>
                                    <div class="line-separator"></div>
                                {{/unless}}

                                <div class="list-notification-end">
                                    <div class="pull-left">
                                        {{#if model.notifications}}
                                            {{#link-to "notifications"}} {{ gettext "See everything"}} {{/link-to}}
                                        {{/if}}
                                    </div>
                                    <div class="pull-right">
                                        <a {{action 'invalidateSession'}} class="pointer">{{ gettext "Logout" }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{else}}
        <div class="item">
            {{auth/login-form}}
        </div>
        <div class="item">
            {{auth/signup-form}}
        </div>

        {{/if}}
    </div>
</div>

<div class="ui container">
    {{outlet}}
</div>