<div class="ui breadcrumb">
    {{#link-to 'index' class="section"}}{{gettext "Forums" }}{{/link-to}}
    <i class="right chevron icon divider"></i>
    {{#link-to 'forum' model.forum.id model.forum.slug class="section"}}{{ model.forum.name }}{{/link-to}}
    <i class="right arrow icon divider"></i>
    <div class="active section">
        {{#unless model.forum.publicForum }}
            {{gettext "Members" }}
        {{else}}
            {{gettext "Moderators" }}
        {{/unless}}
    </div>
</div>

<h3>
    {{#unless model.forum.publicForum }}
        {{gettext "Members" }}
    {{else}}
        {{gettext "Moderators" }}
    {{/unless}}

    {{gettext "of"}} {{ model.forum.name }}
</h3>
<p> {{ model.forum.description }} </p>
<div class="ui divider"></div>

<h5>{{gettext "Moderators"}}</h5>
<div class="ui five doubling cards">
    {{#each model.forum.moderators as |member|}}
        {{card-user user=member}}
    {{/each}}
</div>

{{#unless model.forum.publicForum }}

    <div class="ui divider"></div>

    <h5>{{gettext "Registered users"}}</h5>
    <div class="ui five doubling cards">
        {{#each model.users as |member|}}
            {{card-user user=member.user}}
        {{/each}}
    </div>

    {{#if model.users}}
        {{utils/infinite-scroll model=model submodel="users" api="register"}}
    {{/if}}

{{/unless}}

{{outlet}}
