<h3>{{ gettext "Notifications" }}</h3>
<div class="ui divider"></div>

<div class="ui list">
    {{items-notifications model=model inDropdown=false}}

    {{#unless model}}
        <div class="item">
            <div class="content">
                {{gettext "No notifications"}}
            </div>
        </div>
    {{/unless}}
</div>


{{#if model}}
    {{utils/infinite-scroll model=model api="notification"}}
{{/if}}

{{outlet}}