{{#if hasUiForShowModal }}
    {{#if isLink }}
        <a class="pointer" {{action "showForm" }}>{{gettext title_modal }}</a>
    {{else}}
        <div class="ui primary button" {{action "showForm" }}>{{gettext title_modal }}</div>
    {{/if}}
{{/if}}

<div class="ui tiny {{ id }} modal">
    <i class="close icon"></i>
    <div class="header">
        {{gettext title_modal}}
    </div>
    <div class="image content">
        {{yield sectionContent}}
    </div>
    <div class="actions">
        {{#if customActions}}
            {{yield sectionActions}}
            <button class="ui grey button" {{ action "cancelModal"}}>{{gettext "Cancel"}}</button>
        {{else}}
            <div class="ui positive right button" {{ action "action"}}>
                {{gettext title_action}}
            </div>
        {{/if}}
    </div>
</div>
