<div class="mde-modal mde-modal-hidden">
    <div class="mde-modal-content" id="{{ modalId }}">
        <span class="mde-modal-close" {{ action "closeModal" }}><i class="angle down icon"></i></span>
        <div class="ui reply form marginTop1">
            <div class="field">
                <div>
                    {{yield sectionContent}}
                    {{utils/simple-mde-editor value=field elementId=textareaId}}
                </div>
            </div>
            {{yield sectionActions}}
        </div>
    </div>
</div>
