{{yield}}

{{#utils/form-modal title_modal="Log in" title_action="Log in" initialize=(action "init") id=id action=(action "authenticate")}}
<form class="ui form form100" id={{id}}>
    {{#if errorMessage}}
        <div class="ui red message">
            <p> {{errorMessage}} </p>
        </div>
    {{/if}}

    <div class="field">
        <label>{{gettext "Username" }}</label>
        {{input value=user }}
    </div>

    <div class="field">
        <label>{{gettext "Password" }}</label>
        {{input value=password type='password'}}
    </div>

    <div class="field">
        <center>{{auth/reset-password-form}}</center>
    </div>
</form>
{{/utils/form-modal}}


