{{yield}}

{{#utils/form-modal title="Forgot password?" title_action="Reset" isLink=true initialize=(action "init") id=id action=(action "reset")}}
<form class="ui form form100" id={{id}}>
    {{#if errorMessage}}
        <div class="ui red message">
            <p> {{errorMessage}} </p>
        </div>
    {{/if}}

    <div class="field">
        <label>{{gettext "Email" }}</label>
        {{input type="email" value=email }}
        {{#if errorEmail}}
            <div class="ui pointing red basic label">
                <p> {{errorEmail}} </p>
            </div>
        {{/if}}
    </div>
</form>
{{/utils/form-modal}}
