{{yield}}

{{#form-modal title="Signup" title_action="Create" initialize=(action "init") id="signup-form" action=(action "signup")}}
<form class="ui form form100" id="signup-form">
    {{#each errorMessage as |message|}}
        <div class="ui red message">
            <p> {{message.detail}} </p>
        </div>
    {{/each}}

    <div class="field">
        <label>{{gettext "First name" }}</label>
        {{input value=firstname name="firstname" }}
        {{#if errorFirstname}}
            <div class="ui pointing red basic label">
                <p> {{errorFirstname}} </p>
            </div>
        {{/if}}
    </div>
    <div class="field">
        <label>{{gettext "Last name" }}</label>
        {{input value=lastname }}
        {{#if errorLastname}}
            <div class="ui pointing red basic label">
                <p> {{errorLastname}} </p>
            </div>
        {{/if}}
    </div>
    <div class="field">
        <label>{{gettext "Username" }}</label>
        {{input value=username }}
        {{#if errorUsername}}
            <div class="ui pointing red basic label">
                <p> {{errorUsername}} </p>
            </div>
        {{/if}}
    </div>
    <div class="field">
        <label>{{gettext "Email" }}</label>
        {{input type="email" value=email }}
        {{#if errorEmail}}
            <div class="ui pointing red basic label">
                <p> {{errorEmail}} </p>
            </div>
        {{/if}}
    </div>
    <div class="field">
        <label>{{gettext "Password" }}</label>
        {{input type="password" value=password }}
        {{#if errorPassword}}
            <div class="ui pointing red basic label">
                <p> {{errorPassword}} </p>
            </div>
        {{/if}}
    </div>
    <div class="field">
        <label>{{gettext "Repeat password" }}</label>
        {{input type="password" value=repeat_password }}
        {{#if errorRepeatPassword}}
            <div class="ui pointing red basic label">
                <p> {{errorRepeatPassword}} </p>
            </div>
        {{/if}}
        {{#if errorCheckPassword}}
            <div class="ui pointing red basic label">
                <p> {{errorCheckPassword}} </p>
            </div>
        {{/if}}
    </div>
</form>
{{/form-modal}}